/MODEXngine
/.vs/MODEXngine/v14/.suo
/.vs/MODEXngine/v14/vbcs.cache/edb.chk
/.vs/MODEXngine/v14/vbcs.cache/edb.log
/.vs/MODEXngine/v14/vbcs.cache/edbres00001.jrs
/.vs/MODEXngine/v14/vbcs.cache/edbres00002.jrs
/.vs/MODEXngine/v14/vbcs.cache/edbtmp.log
/.vs/MODEXngine/v14/vbcs.cache/storage.ide
/MODEXngine.Android/bin/Debug/MODEXngine.Android.dll
/MODEXngine.Android/bin/Debug/MODEXngine.Android.dll.mdb
/MODEXngine.Android/bin/Debug/MODEXngine.Android.pdb
/MODEXngine.Android/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.Android/obj/Debug/MODEXngine.Android.csproj.FileListAbsolute.txt
/MODEXngine.Android/obj/Debug/MODEXngine.Android.dll
/MODEXngine.Android/obj/Debug/MODEXngine.Android.pdb
/MODEXngine.Android/obj/Debug/R.cs.flag
/MODEXngine.Android/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.Android/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.Android/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MODEXngine.Android/obj/Debug/acw-map.txt
/MODEXngine.Android/obj/Debug/android/AndroidManifest.xml
/MODEXngine.Android/obj/Debug/android/assets/machine.config
/MODEXngine.Android/obj/Debug/android/bin/classes.dex
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/GLView1.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/MainActivity.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/R$attr.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/R$drawable.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/R$layout.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/R$string.class
/MODEXngine.Android/obj/Debug/android/bin/classes/modexngine/android/R.class
/MODEXngine.Android/obj/Debug/android/bin/classes/mono/MonoPackageManager.class
/MODEXngine.Android/obj/Debug/android/bin/classes/mono/MonoPackageManager_Resources.class
/MODEXngine.Android/obj/Debug/android/bin/classes/mono/MonoRuntimeProvider.class
/MODEXngine.Android/obj/Debug/android/bin/classes/mono/android/Seppuku.class
/MODEXngine.Android/obj/Debug/android/bin/mono.android.jar
/MODEXngine.Android/obj/Debug/android/bin/packaged_resources
/MODEXngine.Android/obj/Debug/android/modexngine/android/R.java
/MODEXngine.Android/obj/Debug/android/src/modexngine/android/GLView1.java
/MODEXngine.Android/obj/Debug/android/src/modexngine/android/MainActivity.java
/MODEXngine.Android/obj/Debug/android/src/modexngine/android/R.java
/MODEXngine.Android/obj/Debug/android/src/mono/MonoPackageManager.java
/MODEXngine.Android/obj/Debug/android/src/mono/MonoRuntimeProvider.java
/MODEXngine.Android/obj/Debug/android/src/mono/android/Seppuku.java
/MODEXngine.Android/obj/Debug/assemblies/MODEXngine.Android.dll
/MODEXngine.Android/obj/Debug/assemblies/MODEXngine.Android.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/Mono.Android.dll
/MODEXngine.Android/obj/Debug/assemblies/Mono.Android.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/OpenTK.dll
/MODEXngine.Android/obj/Debug/assemblies/OpenTK.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Core.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Core.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.Linq.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.Linq.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.dll
/MODEXngine.Android/obj/Debug/assemblies/System.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/mscorlib.dll
/MODEXngine.Android/obj/Debug/assemblies/mscorlib.dll.mdb
/MODEXngine.Android/obj/Debug/res/drawable/icon.png
/MODEXngine.Android/obj/Debug/res/layout/main.xml
/MODEXngine.Android/obj/Debug/res/values/strings.xml
/MODEXngine.Android/obj/Debug/resolved_assemblies.txt
/MODEXngine.PCL/bin/Debug/MODEXngine.PCL.dll
/MODEXngine.PCL/bin/Debug/MODEXngine.PCL.pdb
/MODEXngine.PCL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.PCL/obj/Debug/MODEXngine.PCL.csproj.FileListAbsolute.txt
/MODEXngine.PCL/obj/Debug/MODEXngine.PCL.dll
/MODEXngine.PCL/obj/Debug/MODEXngine.PCL.pdb
/MODEXngine.PCL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.PCL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.PCL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MODEXngine.WebAPI/bin/Antlr3.Runtime.dll
/MODEXngine.WebAPI/bin/Antlr3.Runtime.pdb
/MODEXngine.WebAPI/bin/MODEXngine.PCL.dll
/MODEXngine.WebAPI/bin/MODEXngine.PCL.pdb
/MODEXngine.WebAPI/bin/MODEXngine.WebAPI.dll
/MODEXngine.WebAPI/bin/MODEXngine.WebAPI.dll.config
/MODEXngine.WebAPI/bin/MODEXngine.WebAPI.pdb
/MODEXngine.WebAPI/bin/MODEXngine.WebBusinessLayer.dll
/MODEXngine.WebAPI/bin/MODEXngine.WebBusinessLayer.pdb
/MODEXngine.WebAPI/bin/Microsoft.Web.Infrastructure.dll
/MODEXngine.WebAPI/bin/Newtonsoft.Json.dll
/MODEXngine.WebAPI/bin/Newtonsoft.Json.xml
/MODEXngine.WebAPI/bin/System.Net.Http.Formatting.dll
/MODEXngine.WebAPI/bin/System.Net.Http.Formatting.xml
/MODEXngine.WebAPI/bin/System.Web.Helpers.dll
/MODEXngine.WebAPI/bin/System.Web.Helpers.xml
/MODEXngine.WebAPI/bin/System.Web.Http.WebHost.dll
/MODEXngine.WebAPI/bin/System.Web.Http.WebHost.xml
/MODEXngine.WebAPI/bin/System.Web.Http.dll
/MODEXngine.WebAPI/bin/System.Web.Http.xml
/MODEXngine.WebAPI/bin/System.Web.Mvc.dll
/MODEXngine.WebAPI/bin/System.Web.Mvc.xml
/MODEXngine.WebAPI/bin/System.Web.Optimization.dll
/MODEXngine.WebAPI/bin/System.Web.Optimization.xml
/MODEXngine.WebAPI/bin/System.Web.Razor.dll
/MODEXngine.WebAPI/bin/System.Web.Razor.xml
/MODEXngine.WebAPI/bin/System.Web.WebPages.Deployment.dll
/MODEXngine.WebAPI/bin/System.Web.WebPages.Deployment.xml
/MODEXngine.WebAPI/bin/System.Web.WebPages.Razor.dll
/MODEXngine.WebAPI/bin/System.Web.WebPages.Razor.xml
/MODEXngine.WebAPI/bin/System.Web.WebPages.dll
/MODEXngine.WebAPI/bin/System.Web.WebPages.xml
/MODEXngine.WebAPI/bin/WebGrease.dll
/MODEXngine.WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.WebAPI/obj/Debug/MODEXngine.WebAPI.csproj.FileListAbsolute.txt
/MODEXngine.WebAPI/obj/Debug/MODEXngine.WebAPI.csprojResolveAssemblyReference.cache
/MODEXngine.WebAPI/obj/Debug/MODEXngine.WebAPI.dll
/MODEXngine.WebAPI/obj/Debug/MODEXngine.WebAPI.pdb
/MODEXngine.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.PCL.dll
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.PCL.pdb
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.WebBusinessLayer.dll
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.WebBusinessLayer.pdb
/MODEXngine.WebBusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.WebBusinessLayer/obj/Debug/MODEXngine.WebBusinessLayer.csproj.FileListAbsolute.txt
/MODEXngine.WebBusinessLayer/obj/Debug/MODEXngine.WebBusinessLayer.csprojResolveAssemblyReference.cache
/MODEXngine.WebBusinessLayer/obj/Debug/MODEXngine.WebBusinessLayer.dll
/MODEXngine.WebBusinessLayer/obj/Debug/MODEXngine.WebBusinessLayer.pdb
/MODEXngine.WebBusinessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.WebBusinessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.WebBusinessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MODEXngine.WebAPI/bin/EntityFramework.dll
/MODEXngine.WebAPI/bin/MODEXngine.DataLayer.dll
/MODEXngine.WebBusinessLayer/bin/Debug/EntityFramework.dll
/MODEXngine.WebBusinessLayer/bin/Debug/EntityFramework.xml
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.DataLayer.dll
/MODEXngine.WebBusinessLayer/bin/Debug/MODEXngine.DataLayer.pdb
/MODEXngine.Android/obj/Debug/MODEXngine.Android.csprojResolveAssemblyReference.cache
/MODEXngine.DataLayer/bin/Debug/EntityFramework.SqlServer.dll
/MODEXngine.DataLayer/bin/Debug/EntityFramework.SqlServer.xml
/MODEXngine.DataLayer/bin/Debug/EntityFramework.dll
/MODEXngine.DataLayer/bin/Debug/EntityFramework.xml
/MODEXngine.DataLayer/bin/Debug/MODEXngine.DataLayer.dll
/MODEXngine.DataLayer/bin/Debug/MODEXngine.DataLayer.dll.config
/MODEXngine.DataLayer/bin/Debug/MODEXngine.DataLayer.pdb
/MODEXngine.DataLayer/bin/Debug/MODEXngine.PCL.dll
/MODEXngine.DataLayer/bin/Debug/MODEXngine.PCL.pdb
/MODEXngine.DataLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.DataLayer/obj/Debug/MODEXngine.DataLayer.csproj.FileListAbsolute.txt
/MODEXngine.DataLayer/obj/Debug/MODEXngine.DataLayer.csprojResolveAssemblyReference.cache
/MODEXngine.DataLayer/obj/Debug/MODEXngine.DataLayer.dll
/MODEXngine.DataLayer/obj/Debug/MODEXngine.DataLayer.pdb
/MODEXngine.DataLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.DataLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.DataLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MODEXngine.WebAPI/bin/EntityFramework.xml
/MODEXngine.WebAPI/bin/MODEXngine.DataLayer.pdb
/MODEXngine.Android/bin/Debug/MODEXngine.Android-Signed.apk
/MODEXngine.Android/bin/Debug/MODEXngine.Android.apk
/MODEXngine.Android/bin/Debug/MODEXngine.Renderer.PCL.dll
/MODEXngine.Android/bin/Debug/MODEXngine.Renderer.PCL.dll.mdb
/MODEXngine.Android/bin/Debug/MODEXngine.Renderer.PCL.pdb
/MODEXngine.Android/obj/Debug/__library_projects__/MODEXngine.Renderer.PCL.stamp
/MODEXngine.Android/obj/Debug/__library_projects__/System.Resources.ResourceManager.stamp
/MODEXngine.Android/obj/Debug/__library_projects__/System.Runtime.stamp
/MODEXngine.Android/obj/Debug/android/bin/MODEXngine.Android.apk
/MODEXngine.Android/obj/Debug/android/bin/resources_and_assemblies
/MODEXngine.Android/obj/Debug/assemblies/MODEXngine.Renderer.PCL.dll
/MODEXngine.Android/obj/Debug/assemblies/MODEXngine.Renderer.PCL.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Collections.Concurrent.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Collections.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.Annotations.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.Composition.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.Composition.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.DataAnnotations.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.DataAnnotations.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.EventBasedAsync.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ComponentModel.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Diagnostics.Contracts.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Diagnostics.Debug.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Diagnostics.Tools.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Diagnostics.Tracing.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Dynamic.Runtime.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Globalization.dll
/MODEXngine.Android/obj/Debug/assemblies/System.IO.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Linq.Expressions.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Linq.Parallel.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Linq.Queryable.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Linq.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Net.NetworkInformation.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Net.Primitives.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Net.Requests.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Numerics.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Numerics.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.ObjectModel.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.Emit.ILGeneration.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.Emit.Lightweight.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.Emit.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.Extensions.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.Primitives.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Reflection.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Resources.ResourceManager.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Extensions.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.InteropServices.WindowsRuntime.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.InteropServices.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Numerics.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Serialization.Json.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Serialization.Primitives.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Serialization.Xml.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Serialization.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.Serialization.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Runtime.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Security.Principal.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ServiceModel.Http.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ServiceModel.Primitives.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ServiceModel.Security.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ServiceModel.dll
/MODEXngine.Android/obj/Debug/assemblies/System.ServiceModel.dll.mdb
/MODEXngine.Android/obj/Debug/assemblies/System.Text.Encoding.Extensions.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Text.Encoding.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Text.RegularExpressions.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Threading.Tasks.Parallel.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Threading.Tasks.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Threading.Timer.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Threading.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.ReaderWriter.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.XDocument.dll
/MODEXngine.Android/obj/Debug/assemblies/System.Xml.XmlSerializer.dll
/MODEXngine.Renderer.PCL/bin/Debug/MODEXngine.Renderer.PCL.dll
/MODEXngine.Renderer.PCL/bin/Debug/MODEXngine.Renderer.PCL.dll.mdb
/MODEXngine.Renderer.PCL/bin/Debug/MODEXngine.Renderer.PCL.pdb
/MODEXngine.Renderer.PCL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MODEXngine.Renderer.PCL/obj/Debug/MODEXngine.Renderer.PCL.csproj.FileListAbsolute.txt
/MODEXngine.Renderer.PCL/obj/Debug/MODEXngine.Renderer.PCL.csprojResolveAssemblyReference.cache
/MODEXngine.Renderer.PCL/obj/Debug/MODEXngine.Renderer.PCL.dll
/MODEXngine.Renderer.PCL/obj/Debug/MODEXngine.Renderer.PCL.pdb
/MODEXngine.Renderer.PCL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MODEXngine.Renderer.PCL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MODEXngine.Renderer.PCL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
